<div class="view">
    
        <tr>
            <td><input class="toggle" type="checkbox" (dbclick)="toggleTodoComplete(todo)" [checked]="todo.complete">
                <label (dblclick)="todo.editing = true">{{todo.title}}</label></td>
            <td><label>{{todo.date}}</label></td>
            <td><label>{{todo.time}}</label></td></tr>
    <button class="destroy" (click)="removeTodo(todo)"></button>
</div>
<input class="edit"
         #updatedTodo
         [value]="todo.title"
         (blur)="updateTodo(todo, updatedTodo.value)"
         (keyup.escape)="todo.editing = false"
         (keyup.enter)="updateTodo(todo, updatedTodo.value)">
