<div class="view" data-ng-controller="TodoController">
    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
    
    <tr>
        <td><label (dblclick)="todo.editing = true">{{todo.title}}</label></td>
        <td><label (dblclick)="todo.editing = true">{{todo.date}}</label></td>
        <td><label onclick="edit(this)">{{todo.time}}</label></td>
    </tr>
    <button class="destroy" (click)="removeTodo(todo)"></button>
</div>
<input class="edit"
         #updatedTodo
         [value]="todo.title"
         (blur)="updateTodo(todo, updatedTodo.value)"
         (keyup.escape)="todo.editing = false"
         (keyup.enter)="updateTodo(todo, updatedTodo.value)">

<script>
    function TodoController ($scope) {
	   $scope.saved = localStorage.getItem('todos');
	   $scope.todos = (localStorage.getItem('todos')!==null) ? JSON.parse($scope.saved) : [ {title: 'Learn AngularJS', checked: false}, {title: 'Build an Angular app', checked: false} ];
	   localStorage.setItem('todos', JSON.stringify($scope.todos));
    }
</script>
<script>
    function edit(id) {
        id.innerHTML. 
    }
</script>